--
-- PostgreSQL database dump
--

\restrict efDGVGYGeB5DQASOmVYd5m98NQPHONWAvgpgSWoYQBvqCpcVyU2ZdvZlTQSefnx

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: superstore; Type: SCHEMA; Schema: -; Owner: pg_database_owner
--

CREATE SCHEMA superstore;


ALTER SCHEMA superstore OWNER TO pg_database_owner;

--
-- Name: SCHEMA superstore; Type: COMMENT; Schema: -; Owner: pg_database_owner
--

COMMENT ON SCHEMA superstore IS 'standard public schema';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: dim_customer; Type: TABLE; Schema: superstore; Owner: postgres
--

CREATE TABLE superstore.dim_customer (
    customer_id character varying(20) CONSTRAINT customers_customer_id_not_null NOT NULL,
    customer_name character varying(100) CONSTRAINT customers_customer_name_not_null NOT NULL,
    segment character varying(50)
);


ALTER TABLE superstore.dim_customer OWNER TO postgres;

--
-- Name: dim_date; Type: TABLE; Schema: superstore; Owner: postgres
--

CREATE TABLE superstore.dim_date (
    date_id date NOT NULL,
    year integer,
    quarter integer,
    month integer,
    day integer,
    weekday integer,
    order_date date,
    ship_date date
);


ALTER TABLE superstore.dim_date OWNER TO postgres;

--
-- Name: dim_product; Type: TABLE; Schema: superstore; Owner: postgres
--

CREATE TABLE superstore.dim_product (
    product_id character varying(30) CONSTRAINT products_product_id_not_null NOT NULL,
    product_name character varying(255) CONSTRAINT products_product_name_not_null NOT NULL,
    category character varying(100),
    sub_category character varying(100)
);


ALTER TABLE superstore.dim_product OWNER TO postgres;

--
-- Name: dim_region; Type: TABLE; Schema: superstore; Owner: postgres
--

CREATE TABLE superstore.dim_region (
    region_id integer CONSTRAINT regions_region_id_not_null NOT NULL,
    country character varying(20),
    state character varying(30),
    city character varying(30),
    postal_code integer,
    region character varying(20)
);


ALTER TABLE superstore.dim_region OWNER TO postgres;

--
-- Name: dim_ship_mode; Type: TABLE; Schema: superstore; Owner: postgres
--

CREATE TABLE superstore.dim_ship_mode (
    ship_mode_id integer NOT NULL,
    ship_mode character varying(20)
);


ALTER TABLE superstore.dim_ship_mode OWNER TO postgres;

--
-- Name: dim_ship_mode_ship_mode_id_seq; Type: SEQUENCE; Schema: superstore; Owner: postgres
--

CREATE SEQUENCE superstore.dim_ship_mode_ship_mode_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE superstore.dim_ship_mode_ship_mode_id_seq OWNER TO postgres;

--
-- Name: dim_ship_mode_ship_mode_id_seq; Type: SEQUENCE OWNED BY; Schema: superstore; Owner: postgres
--

ALTER SEQUENCE superstore.dim_ship_mode_ship_mode_id_seq OWNED BY superstore.dim_ship_mode.ship_mode_id;


--
-- Name: fact_sales; Type: TABLE; Schema: superstore; Owner: postgres
--

CREATE TABLE superstore.fact_sales (
    row_id integer CONSTRAINT order_items_row_id_not_null NOT NULL,
    order_id character varying(20),
    product_id character varying(30),
    sales numeric(10,2),
    customer_id character varying(20),
    region_id integer,
    date_id date,
    ship_mode_id integer
);


ALTER TABLE superstore.fact_sales OWNER TO postgres;

--
-- Name: regions_region_id_seq; Type: SEQUENCE; Schema: superstore; Owner: postgres
--

CREATE SEQUENCE superstore.regions_region_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE superstore.regions_region_id_seq OWNER TO postgres;

--
-- Name: regions_region_id_seq; Type: SEQUENCE OWNED BY; Schema: superstore; Owner: postgres
--

ALTER SEQUENCE superstore.regions_region_id_seq OWNED BY superstore.dim_region.region_id;


--
-- Name: dim_region region_id; Type: DEFAULT; Schema: superstore; Owner: postgres
--

ALTER TABLE ONLY superstore.dim_region ALTER COLUMN region_id SET DEFAULT nextval('superstore.regions_region_id_seq'::regclass);


--
-- Name: dim_ship_mode ship_mode_id; Type: DEFAULT; Schema: superstore; Owner: postgres
--

ALTER TABLE ONLY superstore.dim_ship_mode ALTER COLUMN ship_mode_id SET DEFAULT nextval('superstore.dim_ship_mode_ship_mode_id_seq'::regclass);


--
-- Data for Name: dim_customer; Type: TABLE DATA; Schema: superstore; Owner: postgres
--

COPY superstore.dim_customer (customer_id, customer_name, segment) FROM stdin;
\.


--
-- Data for Name: dim_date; Type: TABLE DATA; Schema: superstore; Owner: postgres
--

COPY superstore.dim_date (date_id, year, quarter, month, day, weekday, order_date, ship_date) FROM stdin;
\.


--
-- Data for Name: dim_product; Type: TABLE DATA; Schema: superstore; Owner: postgres
--

COPY superstore.dim_product (product_id, product_name, category, sub_category) FROM stdin;
\.


--
-- Data for Name: dim_region; Type: TABLE DATA; Schema: superstore; Owner: postgres
--

COPY superstore.dim_region (region_id, country, state, city, postal_code, region) FROM stdin;
\.


--
-- Data for Name: dim_ship_mode; Type: TABLE DATA; Schema: superstore; Owner: postgres
--

COPY superstore.dim_ship_mode (ship_mode_id, ship_mode) FROM stdin;
\.


--
-- Data for Name: fact_sales; Type: TABLE DATA; Schema: superstore; Owner: postgres
--

COPY superstore.fact_sales (row_id, order_id, product_id, sales, customer_id, region_id, date_id, ship_mode_id) FROM stdin;
\.


--
-- Name: dim_ship_mode_ship_mode_id_seq; Type: SEQUENCE SET; Schema: superstore; Owner: postgres
--

SELECT pg_catalog.setval('superstore.dim_ship_mode_ship_mode_id_seq', 1, false);


--
-- Name: regions_region_id_seq; Type: SEQUENCE SET; Schema: superstore; Owner: postgres
--

SELECT pg_catalog.setval('superstore.regions_region_id_seq', 1, false);


--
-- Name: dim_customer customers_pkey; Type: CONSTRAINT; Schema: superstore; Owner: postgres
--

ALTER TABLE ONLY superstore.dim_customer
    ADD CONSTRAINT customers_pkey PRIMARY KEY (customer_id);


--
-- Name: dim_date dim_date_pkey; Type: CONSTRAINT; Schema: superstore; Owner: postgres
--

ALTER TABLE ONLY superstore.dim_date
    ADD CONSTRAINT dim_date_pkey PRIMARY KEY (date_id);


--
-- Name: dim_ship_mode dim_ship_mode_pkey; Type: CONSTRAINT; Schema: superstore; Owner: postgres
--

ALTER TABLE ONLY superstore.dim_ship_mode
    ADD CONSTRAINT dim_ship_mode_pkey PRIMARY KEY (ship_mode_id);


--
-- Name: fact_sales order_items_pkey; Type: CONSTRAINT; Schema: superstore; Owner: postgres
--

ALTER TABLE ONLY superstore.fact_sales
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (row_id);


--
-- Name: dim_product products_pkey; Type: CONSTRAINT; Schema: superstore; Owner: postgres
--

ALTER TABLE ONLY superstore.dim_product
    ADD CONSTRAINT products_pkey PRIMARY KEY (product_id);


--
-- Name: dim_region regions_pkey; Type: CONSTRAINT; Schema: superstore; Owner: postgres
--

ALTER TABLE ONLY superstore.dim_region
    ADD CONSTRAINT regions_pkey PRIMARY KEY (region_id);


--
-- Name: fact_sales fact_sales_customer_id_fkey; Type: FK CONSTRAINT; Schema: superstore; Owner: postgres
--

ALTER TABLE ONLY superstore.fact_sales
    ADD CONSTRAINT fact_sales_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES superstore.dim_customer(customer_id);


--
-- Name: fact_sales fact_sales_date_id_fkey; Type: FK CONSTRAINT; Schema: superstore; Owner: postgres
--

ALTER TABLE ONLY superstore.fact_sales
    ADD CONSTRAINT fact_sales_date_id_fkey FOREIGN KEY (date_id) REFERENCES superstore.dim_date(date_id);


--
-- Name: fact_sales fact_sales_region_id_fkey; Type: FK CONSTRAINT; Schema: superstore; Owner: postgres
--

ALTER TABLE ONLY superstore.fact_sales
    ADD CONSTRAINT fact_sales_region_id_fkey FOREIGN KEY (region_id) REFERENCES superstore.dim_region(region_id);


--
-- Name: fact_sales fact_sales_ship_mode_id_fkey; Type: FK CONSTRAINT; Schema: superstore; Owner: postgres
--

ALTER TABLE ONLY superstore.fact_sales
    ADD CONSTRAINT fact_sales_ship_mode_id_fkey FOREIGN KEY (ship_mode_id) REFERENCES superstore.dim_ship_mode(ship_mode_id);


--
-- Name: fact_sales order_items_product_id_fkey; Type: FK CONSTRAINT; Schema: superstore; Owner: postgres
--

ALTER TABLE ONLY superstore.fact_sales
    ADD CONSTRAINT order_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES superstore.dim_product(product_id);


--
-- PostgreSQL database dump complete
--

\unrestrict efDGVGYGeB5DQASOmVYd5m98NQPHONWAvgpgSWoYQBvqCpcVyU2ZdvZlTQSefnx

